.inforRing {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 50px;
  padding: 28px 16px; 
  margin: 40px 40px 40px 40px;
}

.card-head {
  font-size: 18px;
  font-weight: bold;
  
}
.card-subhead {
  margin-top: 10px;
  font-size: 12px;
  
}
.wedding1{
    width: 100px;
    height: 100px;

}
.wedding2{
    width: 100px;
    height: 100px;

}