.card-head {
  font-size: 18px;
  font-weight: bold;
  
}
.card-subhead {
  margin-top: 10px;
  font-size: 12px;
  
}
.wedding1{
    width: 100px;
    height: 100px;

}
.wedding2{
    width: 100px;
    height: 100px;

}