.add-ring__card {
  display: flex;
  justify-content:space-between;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 28px 16px;
  margin-top: 40px;
}
.card-heading {
  font-size: 18px;
  font-weight: bold;
}
.card-subheading {
  margin-top: 4px;
  font-size: 12px;
}
.ring-status{
    width: min-content;
    border-radius: 50px;
    padding: 6px 25px;
    width: 60px;
    
}
.ring-status__green{
  background-color: #9AE6B4;
  color: white;
}
.ring-status__yellow{
  background-color: #ffbb33;
  color: white;
}
.ring-status__red{
  background-color: red;
  color: white;
}

.box-full__height{
  height: 100%;
}
