.App {
  width: 100vw;
  height: 100vh;
  display: flex;

}
.Sidebar{
  width: 250px;
  height: 100vh;
  background-color: #1E3C49;
}
body{
  margin: 0;
  padding: 0;
}
.SidebarList{
  height: auto;
  width: 100%;
  padding: 0;
}
.SidebarList .row{
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Livvic;
  text-decoration-line: none;
  

}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #FF8989 ;
}

.SidebarList #active{
  background-color: #FF8989 ;
}
.row #icon{
  flex: 10%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 50%;
}






